nav > ul> li{
    display: inline;
    margin: 10px;
   
}
nav li > a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin: 10px;
}
.one{
    text-align: center;
}
section h2{
    background-color: gold;
}
label{
    color: rgb(2, 1, 1);
    background-color: rgb(28, 154, 177);
}
input{
    background-color: bisque;
}
legend{
    font-size: larger;
    color: brown;
    font-style: italic;
    background-image: url();
}
#hh{
    background-color: cadetblue;
    text-align: center;
}
