nav > ul> li{
    display: inline;
    margin: 10px;
   
}
nav li > a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin: 10px;
}
.one{
    text-align: center;
}
section h2{
    background-color: gold;
}