
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 10px;
    padding: 5px;
}
nav li a {
    text-decoration: none;
    color: black;
    background-color: burlywood;
    border-radius: 5px;
    
}
nav li:hover{
    background-color: cadetblue;
    border-radius: 5px;
}
nav li .dropdown{
    display: none;
    position: absolute;
    padding-left: 5px;
    

}
nav li:hover .dropdown{
    display: block;
    
}